# Dependencies
node_modules/
**/node_modules/

# Local Environment Variables
.env
.env.local
.env.development
.env.production
.env.staging
**/dbsnp_api_key.json
**/credentials.json

# Next.js Build Outputs
.next/
out/

# Production Build Outputs
dist/
build/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
